alembic
bcrypt
cffi
click
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
pytest
pytest-cov
gunicorn
itsdangerous
markupsafe
Psycopg2
pycparser
PyJWT
python-dotenv
six
SQLAlchemy
Werkzeug