alembic
bcrypt
cffi
click
coverage
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Testing
flask-testing
gunicorn
itsdangerous
markupsafe
Psycopg2
pycparser
PyJWT
python-dotenv
six
SQLAlchemy
Werkzeug