alembic
bcrypt
cffi
click
coverage
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Testing
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
pycparser
PyJWT
python-editor
python-dotenv
six
SQLAlchemy
Werkzeug
